{% extends 'base.html.twig' %}



{% block body %}
    <div class="error">
{{ status }}
    </div>

<div class="status">
    Статус: <span class="status-message">Подождите</span>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        setInterval(function () {
            $.ajax({

                url: '/status?id={{ id }}',
                method: 'POST',
                success: function (data) {
                    if (data.response === 'failed') {
                        $('.error').html(data.status);
                    }
                    else {
                        $('.status-message').text(data.status);

                        console.log(data.is_end);
                        if (data.status == 'complete') {
                            window.location.href = '/frontend/download?id='+ {{ id }};
                        }
                    }
                }
            })
        }, 5000)

    </script>

{% endblock %}
